<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        
    </style>
</head>

<body>
    <div id="app">
        <h1 :style="{color:'red','font-weight':'200'}">这是demo</h1>
        <p v-for= "item in list">
            ------{{item}}
        </p>
        <p v-for="(user,i) in userList">
           {{i}}:{{user.id}}-----{{user.name}}
        </p>
    </div>
    <script>
        var vm=new Vue({
           el:'#app',
           data:{
               list: [1,2,3,4],
               userList: [
                   {id:1,name: 'zhangsan'},
                   {id:2,name:'lisi'}
                ]
           },
           methods:{}
        });
    </script>
</body>

</html>